h1{font-size: 45px;
    font-family: ;
}

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.first{
    color: rgb(128, 29, 199);
    text-align: justify;
}
.per{
    text-align: justify;
}
.flex{
    display: flex;
    height: 500px;
    padding-bottom: 150px;

}
.half{
    width: 40%;
    padding: 5px;
    float: left;
    margin-left: 5%;
}
.half img{
    width: 80%;
}
.watch-button{
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    font-weight: 700;
    border-radius: 10px;
}
.top-section{
    background-image: url(Pictures/top-banner.png);
    background-repeat: no-repeat;
}
.mid-section{
    background-image: url(Pictures/dream-bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}
.pic{
    padding:  20px ;
}
.sec3{
    box-shadow: 10px 10px 40px rgb(156, 151, 151);
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    height: 70%;
}
h2{
    font-size: 35px;
}
.section-3{
    background-image: url(Pictures/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#box1{

    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#box2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}
.sec-ft{
    display: flex;
    padding-bottom: 2px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    border-radius: 10px;
    
}
.aus{
    text-align: left;
    margin-left: 5%;
   
}
.fpic{
    margin-left: 5%;
    margin-top: 5%;
}
.foot{
    background-image: linear-gradient(180deg, lightsalmon, purple);
}
.about{
    text-decoration: none;
    color: black;
}
h5{
    font-size: 15px;
}